<h3>filename: <%= @hashes.filename %></h3>
<p>filetype: <%= @hashes.filetype %></p>
<p>created_at: <%= @hashes.created_at %></p>
<p>datemodified: <%= @hashes.datemodified %></p>
<p>size: <%= @hashes.size %></p>
<p>version: <%= @hashes.version %></p>
<p>md5: <%= @hashes.md5 %></p>
<p>sha1: <%= @hashes.sha1 %></p>
<p>sha256: <%= @hashes.sha256 %></p>
<p>fuzzyhash: <%= @hashes.fuzzyhash %></p>

